---

username: admin
password: "!cisco123!"

banner_motd: "PROPERTY OF FOOCO. IF YOU CONTINUE, YOU WILL BE PROSECUTED TO THE FULLEST EXTENT OF THE LAW!!!!"

domain: fooco.com

vtp_mode: transparent

snmp:
  { contact: BOB_MARLEY, location: HEY_NOW, ro_string: RORORO, rw_string: RWRWRW }

ntp_server: 192.168.50.11

routes:
  - "ip route 9.0.0.0/24 192.168.88.2"
  - "ip route 192.168.88.0/24 192.168.33.1"

vrf_name: management
route: "ip route 0.0.0.0/0 192.168.200.1"

vlans:
  - { id: 10, name: web }
  - { id: 11, name: qa }
  - { id: 12, name: prod }
  - { id: 13, name: test }
  - { id: 14, name: srvs }
  - { id: 15, name: video }
  - { id: 16, name: voice }
  - { id: 17, name: db2 }
  - { id: 18, name: web2 }
  - { id: 19, name: db }
  - { id: 1000, name: vlan_1000 }
  - { id: 3000, name: dummy }

interfaces:
  - { intf: Ethernet1/1, switchport: "no switchport", ip: "10.101.101.1/30", state: "no shutdown" }
  - { intf: Ethernet1/2, switchport: "no switchport", ip: "10.254.1.1/30", state: "no shutdown" }
  - { intf: Ethernet1/3, switchport: "switchport", mode: trunk, native_vlan: 3000, vlan_range: "100-102,200-202", state: "no shutdown" }
  - { intf: Ethernet1/3, switchport: "switchport", mode: trunk, native_vlan: 3000, vlan_range: "100-102,200-202", state: "no shutdown" }

