

hostname {{ hostname }}

username {{ username }} password {{ password }}

banner motd * 
{{ banner_motd }} 
*

ip domain-name {{ domain }}

vtp mode {{ vtp_mode }}

snmp-server contact {{ snmp_contact }}
snmp-server location {{ snmp_location }}
snmp-server community {{ ro_string }} group network-operator
snmp-server community {{ rw_string }} group network-admin

ntp server {{ ntp_server }}

{{ route_1 }}
{{ route_2 }}

vrf context {{ vrf_name }}
  ip domain-name {{ domain }}
  {{ route }}

interface {{ intf_id_1 }}
  {{ switchport_1 }}
  ip address {{ ip_1 }}
  {{ state_1 }}

interface {{ intf_id_2 }}
  {{ switchport_2 }}
  ip address {{ ip_2 }}
  {{ state_2 }}

interface {{ intf_id_3 }}
  {{ switchport_3 }}
  switch mode {{ mode_3 }}
  switchport trunk native vlan {{ native_vlan }}
  switchport trunk allowed vlan {{ vlan_range }}
  {{ state_3 }}

interface {{ intf_id_4 }}
  {{ switchport_4 }}
  switch mode {{ mode_4 }}
  switchport trunk native vlan {{ native_vlan }}
  switchport trunk allowed vlan {{ vlan_range }}
  {{ state_4 }}

interface mgmt0
  vrf member management
  ip address {{ mgmt_ip }}

