
hostname {{ hostname }}

username {{ username }} password {{ password }}

banner motd * 
{{ banner_motd }} 
*

ip domain-name {{ domain }}

vtp mode {{ vtp_mode }}

snmp-server contact {{ snmp.contact }}
snmp-server location {{ snmp.location }}
snmp-server community {{ snmp.ro_string }} group network-operator
snmp-server community {{ snmp.rw_string }} group network-admin

ntp server {{ ntp_server }}

{% for route in routes %}
{{ route }}
{% endfor %}

{% for vlan in vlans %}
vlan {{ vlan.id }}
{% if vlan.name %}
  name {{ vlan.name }}
{% endif %} 
{% endfor %}

vrf context {{ vrf_name }}
  ip domain-name {{ domain }} 
  {{ route }}

{% for interface in interfaces %}
interface {{ interface.intf }} 
{% if interface.switchport == 'no switchport' %}
  {{ interface.switchport }}
  ip address {{ interface.ip }}
  {{ interface.state }} 
{% endif %} 
{% if interface.switchport == 'switchport' %}
  {{ interface.switchport }}
  switchport mode {{ interface.mode }}
  switchport trunk native vlan {{ interface.native_vlan }}
  switchport trunk allowed vlan {{ interface.vlan_range }} 
  {{ interface.state }} 
{% endif %} 
{% endfor %}

interface mgmt0
  vrf member management
  ip address {{ mgmt_ip }}

